{% extends "base4.html" %}
{% load static %}
{% load widget_tweaks %}
{% block titulo %}Modificar Empleado{% endblock titulo %}
{% block body %}
<div class="container mt-3">
    <div class=" row bg-secondary py-1" >
        <h3 class="mb-1 text-white">Pedido</h3>
    </div >
    <div class=" row align-items-center border mt-1 " style="background-color: #F5F0EF;">
        <div class="col-md-6  ">
            <div class="d-flex ">
                <p class="mb-1 font-weight-bold">
                    <b>
                </p> 
            </div>
        </div>
        <div class="col-md-6  mb-1">
            <div class="col-md-6  ">
                <div class="d-flex ">
                    <p class="mb-1 font-weight-bold">
                        <b>
                            <i class="fas fa-check-circle"></i>  Modificar Pedido </b>
                    </p> 
                </div>
            </div>
        </div>
    </div >
</div >
<section class="vh-100" >
    <div class="container py-3 " >
        <div class="row d-flex justify-content-center  h-100"  >
            <div class="col col-12" >
                <div class="card" style="border-radius: 1rem;"  >
                    <div class="row g-0" >
                        <div class="col d-flex align-items-center " style="background-color: #F5F0EF;border-radius: 1rem 1rem 1rem 1rem; ">
                            <div class="card-body p-4 p-lg-5 text-black d-flex justify-content-center align-items-center" >
                                <form class="w-75" action="{% url 'moduloOrdPaq:modificarPedido' object.pk %}" method="POST">
                                    {% csrf_token %}
                                    <h5 class="fw-normal  mb-3 pb-3 " style="letter-spacing: 1px; ;"><b>Actulizar datos de pedido</b> </h5>
                                    <hr>
                                    <div>
                                        {% if form.errors %}
                                            {% for field in form  %}
                                                {% if field.errors %}
                                                    {% for error in field.errors  %}
                                                    <li class="text-danger "><b>{{error|escape}}</b></li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Usuario: </b></span>
                                        {{form.id_usuario}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Viaje: </b></span>
                                        {{form.id_viaje}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Cliente: </b></span>
                                        {{form.id_cliente}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Ruta: </b></span>
                                        {{form.id_ruta}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Ubicación: </b></span>
                                        {{form.id_ubicacion}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Punto de entrega: </b></span>
                                        {{form.punto_entrega}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Punto de recepcion: </b></span>
                                        {{form.punto_recepcion}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Region: </b></span>
                                        {{form.region}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Estado del pedido: </b></span>
                                        {{form.estado_pedido}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Recogido: </b></span>
                                        {{form.recogido}}
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Peso total del pedido: </b></span>
                                        {{form.total_peso_pe}}
                                    </div>
                                    <div class="pt-1 mb-4  d-flex justify-content-end">
                                        <button class="btn btn-success btn-lg btn-block me-2" type="submit"><i class="far fa-save "></i>Guardar</button>
                                        <a href="{% url 'moduloOrdPaq:crudPedido' %}">
                                            <button class="btn btn-danger btn-lg btn-block" type="button"><i class="fas fa-times"></i>Cancelar</button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}